<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>company-name</param-name>
  <param-value>Ustg</param-value>
  </context-param>
  <servlet>
  <servlet-name>firstServlet</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.MyFirstServlet</servlet-class>
  <init-param>
  <param-name>batch-name</param-name>
  <param-value>testyantra</param-value>
  </init-param>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>firstServlet</servlet-name>
  <url-pattern>/first</url-pattern>
  
  
  </servlet-mapping>
  
   <servlet>
  <servlet-name>FormServlet</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.FormServlet</servlet-class>
  <init-param>
  <param-name>batch-name</param-name>
  <param-value>testyantra</param-value>
  </init-param>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>FormServlet</servlet-name>
  <url-pattern>/form</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>RedirectServlet</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.RedirectServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>RedirectServlet</servlet-name>
  <url-pattern>/redirect</url-pattern>
  
  </servlet-mapping>
    <servlet>
  <servlet-name>ForwardServlet</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.ForwardServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>ForwardServlet</servlet-name>
  <url-pattern>/forward</url-pattern>
  
  
  </servlet-mapping>
     <servlet>
  <servlet-name>IncludeServlet</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.IncludeServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>IncludeServlet</servlet-name>
  <url-pattern>/include</url-pattern>
  
  
  </servlet-mapping>
   <servlet>
  <servlet-name>FormForwadServlet</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.FormForwadServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>FormForwadServlet</servlet-name>
  <url-pattern>/formforward</url-pattern>
  
  
  </servlet-mapping>
     <servlet>
  <servlet-name>CreateCookie</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.CreateCookieServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>CreateCookie</servlet-name>
  <url-pattern>/cookie</url-pattern>
  
  
  </servlet-mapping>
  
   <servlet>
  <servlet-name>ReadCookieServlet</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.ReadCookieServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>ReadCookieServlet</servlet-name>
  <url-pattern>/readcookie</url-pattern>
  
  
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>setContext</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.SetContextAttributeServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>setContext</servlet-name>
  <url-pattern>/set</url-pattern>
  
  
  </servlet-mapping>
    <servlet>
  <servlet-name>getContext</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.GetContextAttributeServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>getContext</servlet-name>
  <url-pattern>/get</url-pattern>
  
  
  </servlet-mapping>
  
  
    <servlet>
  <servlet-name>delete</servlet-name>
  <servlet-class>com.ustglobal.Webapp.servlets.DeleteCookie</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>delete</servlet-name>
  <url-pattern>/delete</url-pattern>
  
  
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
</web-app>